// Fonts
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Anton', sans-serif;
$titleFont: 'Mukta', sans-serif;

//Color
$primaryColor: rgb(22, 22, 22);
$secondaryColor: rgb(83, 56, 4);
$accentColor: rgb(255, 187, 0);
$borderColor: rgb(245, 21, 21);
$selectColor: rgb(42, 173, 42);